# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [48]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

print(df.head(1))
# Column names should be lowercase, then print just the first 5 columns of the DataFrame
df.columns = df.columns.str.lower()
print(df.head(1))
# White spaces in column names should be replaced by _ 
df.columns = df.columns.str.replace(' ', '_')
print(df.head(1))
# st should be replace for state
db = df.rename(columns={'st': 'state'})
# Now overwrite new values to all dataframe
df = db
print(db.head(1))

  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  RB50392  Washington    NaN    Master                     NaN     0.0

   Monthly Premium Auto Number of Open Complaints    Policy Type  \
0                1000.0                    1/0/00  Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
  customer          st gender education customer lifetime value  income  \
0  RB50392  Washington    NaN    Master                     NaN     0.0

   monthly premium auto number of open complaints    policy type  \
0                1000.0                    1/0/00  Personal Auto

   vehicle class  total claim amount
0  Four-Door Car            2.704934
  customer          st gender education customer_lifetime_value  income  \
0  RB50392  Washington    NaN    Master                     NaN     0.0

   monthly_premium_auto number_of_open_complaints    policy_type  \
0                1000.0                    1/0/00  Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
  customer       state gender education customer_lifetime_value  income  \
0  RB50392  Washington    NaN    Master                     NaN     0.0

   monthly_premium_auto number_of_open_complaints    policy_type  \
0                1000.0                    1/0/00  Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [49]:
# Analyse Gender Column looking for missing values, duplicates and data types, frequencies
df['gender'].isnull().sum()
df['gender'].value_counts()
df['gender'].value_counts(normalize=True)

gender
F         0.479036
M         0.432914
Male      0.040881
female    0.029350
Femal     0.017820
Name: proportion, dtype: float64

In [50]:
# Replace Femal by F, Male by M, female by F
df['gender'] = df['gender'].str.replace('Femal', 'F')
df['gender'] = df['gender'].str.replace('Male', 'M')
df['gender'] = df['gender'].str.replace('female', 'F')
# Check
df['gender'].isnull().sum()
df['gender'].value_counts()
df['gender'].value_counts(normalize=True)

gender
F    0.526205
M    0.473795
Name: proportion, dtype: float64

In [51]:
# Analyse State Column looking for missing values, duplicates and data types, frequencies
df['state'].isnull().sum()
df['state'].value_counts()
df['state'].value_counts(normalize=True)

state
Oregon        0.298786
California    0.197012
Arizona       0.173669
Cali          0.112045
Nevada        0.091503
Washington    0.075630
WA            0.028011
AZ            0.023343
Name: proportion, dtype: float64

In [52]:
# Convert Cali to California, WA to Washington, AZ to Arizona
df['state'] = df['state'].str.replace('Cali', 'California')
df['state'] = df['state'].str.replace('WA', 'Washington')   
df['state'] = df['state'].str.replace('AZ', 'Arizona')
# Check
df['state'].isnull().sum()
df['state'].value_counts()    
df['state'].value_counts(normalize=True)

state
Oregon              0.298786
Arizona             0.197012
Californiafornia    0.197012
California          0.112045
Washington          0.103641
Nevada              0.091503
Name: proportion, dtype: float64

Why Californiafornia?

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [53]:
# I'm making Customer lifetime value numeric
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

In [54]:
# Number of open complaints values unique()
df['number_of_open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [55]:
# Now for this one I'm going to change 1/0/00 to 0, 1/1/00 to 1, 1/2/00 to 2, 1/3/00 to 3, 1/4/00 to 4, 1/5/00 to 5
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.replace('1/0/00', '0')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.replace('1/1/00', '1')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.replace('1/2/00', '2')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.replace('1/3/00', '3')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.replace('1/4/00', '4')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.replace('1/5/00', '5')
# Check
df['number_of_open_complaints'].unique()

array(['0', '2', '1', '3', '5', '4', nan], dtype=object)

In [56]:
# Now I'll make it numeric
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
# Check is numeric
print(df['number_of_open_complaints'].dtype)
df['number_of_open_complaints'].unique()

float64

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [57]:
# Columns with null or missing values
print(df.isnull().sum())
# Print first 20 rows of null values for customer
df[df['customer'].isnull()].head(5)

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      4008
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Drop all rows with null of missing values for customer since all others are NaN
df.dropna(subset=['customer'], inplace=True)
# Check
print(df.isnull().sum())
df[df['customer'].isnull()].head(5)

customer                        0
state                           0
gender                        117
education                       0
customer_lifetime_value      1071
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [59]:
# Impute missing values for gender using mode
gender_mode = df['gender'].mode()[0]
df['gender'] = df['gender'].fillna(gender_mode)

# Calculate the mean of the not missing and null values
mean_clv = df['customer_lifetime_value'].dropna().mean()

# Fill missing and null values with the mean
df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(mean_clv)


# Check for statisticts for that column
print(df['customer_lifetime_value'].describe())

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: customer_lifetime_value, dtype: float64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [60]:
# Use the .duplicate() method to check for duplicates
df.duplicated().sum()
# Drop duplicates
df.drop_duplicates(inplace=True)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Put all data cleaning and formatting steps into functions and create a main function that performs all cleaning and formating, separate by .py file(s) 

# Data Loader
def load_data(url):
    # Load data from URL into a Pandas DataFrame
    df = pd.read_csv(url)
    return df

# Data Cleaner
def clean_column_names(df):
    # Clean column names by converting to lowercase and replacing spaces with underscores
    df.columns = [col.lower().replace(' ', '_') for col in df.columns]
    return df

def replace_state_values(df):
    # Replace specific values in the state column
    df['st'] = df['st'].replace({'Cali': 'California', 'WA': 'Washington'})
    return df

def replace_gender_values(df):
    # Replace specific values in the gender column
    df['gender'] = df['gender'].replace({'Femal': 'F', 'Male': 'M'})
    return df

# Data Formatter
def convert_to_numeric(df, column):
    # Remove percentage sign from the column
    df[column] = df[column].str.replace('%', '')
    
    # Convert a specified column to numeric values using pd.to_numeric
    df[column] = pd.to_numeric(df[column])
    return df#

def impute_missing_values(df, column, strategy):
    # Impute missing values in a specified column using a specified strategy
    df[column] = df[column].fillna(strategy)
    return df

# Data Processor
def drop_duplicates(df):
    # Drop duplicate rows from the DataFrame
    df = df.drop_duplicates()
    return df

def drop_null_values(df, column):
    # Drop rows with null values in a specified column
    df = df.dropna(subset=[column])
    return df

# Main Function
def main():
    url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
    df = load_data(url)
    df = clean_column_names(df)
    df = replace_state_values(df)
    df = replace_gender_values(df)
    df = convert_to_numeric(df, 'customer_lifetime_value')
    df = impute_missing_values(df, 'gender', 'mode')
    df = drop_duplicates(df)
    df = drop_null_values(df, 'customer')
    return df

# Run the main function
if __name__ == "__main__":
    df = main()
    print(df.head())

  customer          st gender             education  customer_lifetime_value  \
0  RB50392  Washington   mode                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [63]:
# Review the statistics again for total claim amount and customer lifetime value after data cleaning and formatting
print(df['total_claim_amount'].describe())
print(df['customer_lifetime_value'].describe())

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: total_claim_amount, dtype: float64
count    1.068000e+03
mean     7.936903e+05
std      6.434784e+05
min      2.004351e+05
25%      4.034080e+05
50%      5.881742e+05
75%      8.962872e+05
max      5.816655e+06
Name: customer_lifetime_value, dtype: float64

In [65]:
# Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
df = df[(df['total_claim_amount'] > df['total_claim_amount'].quantile(0.75)) & (df['customer_lifetime_value'] < df['customer_lifetime_value'].quantile(0.25))]

# Print the resulting DataFrame
print(df)

     customer          st gender             education  \
17    OE15005  California   mode               College
23    TZ98966      Nevada   mode              Bachelor
26    US89481  California   mode              Bachelor
38    CM61827      Oregon   mode              Bachelor
42    IL19217  California   mode              Bachelor
62    FG63582      Oregon   mode              Bachelor
135   MS41162          AZ   mode  High School or Below
140   DS81757      Oregon      M               College
158   KA61892     Arizona      M               College
160   ND87334  California      M  High School or Below
170   TS19868  California      M               College
184   AB13432  California      M              Bachelor
204   FL34139  California      M  High School or Below
250   IA63417     Arizona      F  High School or Below
269   VZ51506     Arizona      F  High School or Below
279   OH60605      Oregon      F  High School or Below
304   RR77985      Oregon      F              Bachelor
388   JF36291  California      M               College
415   ZF84449      Oregon      F               College
448   NL93182      Nevada      M              Bachelor
450   WE68644      Oregon      F              Bachelor
467   AU96286      Oregon      F              Bachelor
486   FY51713          AZ      F              Bachelor
500   XN11823      Nevada      F              Bachelor
502   PX17116      Nevada      M               College
565   XS12556  California      F               College
590   UK41984     Arizona      F                Doctor
593   ZK21724      Oregon      F  High School or Below
638   DM95829  California      M               College
645   JA41698      Nevada      M              Bachelor
669   ED50963  California      F  High School or Below
709   NZ15548      Oregon      M              Bachelor
788   TE13577      Oregon      F               College
853   TV25678  Washington      M               College
891   KJ87930  California      F              Bachelor
908   XM72420     Arizona      F  High School or Below
949   TD10493      Oregon      F  High School or Below
1019  OT52034  California      M              Bachelor
1022  UI73201  California      M               College
1068  GS98873     Arizona      F              Bachelor

      customer_lifetime_value   income  monthly_premium_auto  \
17                  394524.16  28855.0                 101.0
23                  245019.10      0.0                  73.0
26                  394637.21      0.0                 111.0
38                  309003.41      0.0                  90.0
42                  393900.64  60021.0                  99.0
62                  333976.49      0.0                  94.0
135                 402296.35      0.0                 117.0
140                 247012.12      0.0                  74.0
158                 387364.70  28142.0                 105.0
160                 228759.69      0.0                  63.0
170                 241313.97  27501.0                  63.0
184                 373583.81      0.0                 110.0
204                 368811.09      0.0                  63.0
250                 400151.91  19782.0                 108.0
269                 359531.29      0.0                 103.0
279                 365253.24  39679.0                  92.0
304                 288774.23      0.0                  80.0
388                 387364.70  28142.0                 105.0
415                 372672.80      0.0                 112.0
448                 254945.00      0.0                  78.0
450                 380392.18  20325.0                 100.0
467                 316765.84      0.0                  92.0
486                 357076.05  56168.0                  88.0
500                 376446.51  92600.0                  94.0
502                 362345.42      0.0                 111.0
565                 368309.99      0.0                 101.0
590                 383960.61      0.0                 112.0
593                 401654.20      0.0                 111.0
638                 252395.96  16244.0                  68.0
645                 309953.80      0.0                 102.0
669                 268886.40  32808.0                  68.0
709                 402381.44  41833.0                 103.0
788                 231973.59      0.0                  64.0
853                 354090.43      0.0                 101.0
891                 388650.48      0.0                 112.0
908                 391936.67  66676.0                  97.0
949                 289873.27      0.0                  96.0
1019                386477.68  24204.0                  99.0
1022                366737.50  62375.0                  92.0
1068                323912.47  16061.0                  88.0

     number_of_open_complaints     policy_type  vehicle_class  \
17                      1/0/00   Personal Auto            SUV
23                      1/3/00  Corporate Auto  Four-Door Car
26                      1/0/00   Personal Auto  Four-Door Car
38                      1/0/00   Personal Auto   Two-Door Car
42                      1/0/00   Personal Auto  Four-Door Car
62                      1/0/00   Personal Auto   Two-Door Car
135                     1/0/00   Personal Auto            SUV
140                     1/0/00   Personal Auto   Two-Door Car
158                     1/0/00   Personal Auto     Sports Car
160                     1/0/00  Corporate Auto   Two-Door Car
170                     1/0/00   Personal Auto  Four-Door Car
184                     1/0/00   Personal Auto            SUV
204                     1/3/00   Personal Auto  Four-Door Car
250                     1/0/00   Personal Auto   Two-Door Car
269                     1/0/00  Corporate Auto     Sports Car
279                     1/0/00   Personal Auto   Two-Door Car
304                     1/0/00   Personal Auto  Four-Door Car
388                     1/0/00   Personal Auto     Sports Car
415                     1/1/00    Special Auto     Sports Car
448                     1/0/00  Corporate Auto  Four-Door Car
450                     1/0/00   Personal Auto     Sports Car
467                     1/0/00  Corporate Auto  Four-Door Car
486                     1/0/00   Personal Auto  Four-Door Car
500                     1/0/00  Corporate Auto   Two-Door Car
502                     1/2/00  Corporate Auto            SUV
565                     1/0/00  Corporate Auto     Sports Car
590                     1/2/00   Personal Auto            SUV
593                     1/0/00   Personal Auto            SUV
638                     1/0/00   Personal Auto   Two-Door Car
645                     1/5/00  Corporate Auto            SUV
669                     1/1/00   Personal Auto  Four-Door Car
709                     1/0/00   Personal Auto  Four-Door Car
788                     1/0/00   Personal Auto  Four-Door Car
853                     1/0/00   Personal Auto            SUV
891                     1/0/00  Corporate Auto            SUV
908                     1/0/00   Personal Auto  Four-Door Car
949                     1/4/00   Personal Auto  Four-Door Car
1019                    1/1/00   Personal Auto  Four-Door Car
1022                    1/0/00   Personal Auto   Two-Door Car
1068                    1/0/00   Personal Auto  Four-Door Car

      total_claim_amount
17            647.442031
23            554.376763
26            799.200000
38            648.000000
42            882.871945
62            863.327324
135           975.107098
140           721.242206
158           701.708239
160           679.368378
170           542.319401
184           792.000000
204           669.682001
250           773.470977
269           741.600000
279           641.388616
304           676.944023
388           701.708239
415           806.400000
448           845.654042
450           668.293970
467           662.400000
486           614.675906
500           842.437850
502          1171.931170
565           564.466556
590           537.600000
593           799.200000
638           623.223617
645           862.762957
669           541.695658
709           643.826716
788           632.715382
853           727.200000
891          1185.988301
908           558.099357
949           691.200000
1019          707.303416
1022          618.630955
1068          633.600000

In [66]:
summary_stats = df[['total_claim_amount', 'customer_lifetime_value']].describe()
print(summary_stats)

       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.776577            341577.910000
std            149.280606             56921.472027
min            537.600000            228759.690000
25%            633.378846            304220.875000
50%            685.284189            365995.370000
75%            799.200000            387364.700000
max           1185.988301            402381.440000